#container{
      margin-top : 100px;
      text-align: center;
}
.tab-pane{
      margin-top:30px;
}
#id2>h2{
      margin-bottom:30px;
}
.find-pwd-form{
      margin: 0 auto;
      display: inline-block;
}